.calendar {
    padding: 10px;
    width: 300px;
}
.calendarDaysHeader {
    display: flex;
    padding-bottom: 2px;
}
.calendarDayTile {
    width: 14%;
    text-align: center;
    height: 15px;
    border: 0.1px solid white;
}
.calendarDayTile.enabled {
    background: #C5DC97;
}
.calendarDayTile.weekend {
    background: #F9F801;
}
.calendarDayTile.holiday {
    background: #F07D04;
    cursor: pointer;
}
.calendarDayTile.disabled {
    background: #CDCBCE;
}

.calendarHeader{
    text-align: center;
    background: #F0F7DC;
    font-weight: bold;
    width: 98%;
    border-left: 0.1px solid white;
}
.calendarWeek{
    display: flex;
}

.inputRow {
    display: flex;
    padding: 6px;
}
.labelInput {
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
    width: 25%;
}